
@font-face {
    font-family: AG5;
    src: url(/public/Media/Fonts/AG5.ttf);
  }

@font-face {
    font-family: icons;
    src: url(/public/Media/Fonts/IconQuadPix.ttf);
  }

@font-face {
    font-family: darling;
    src: url(/public/Media/Fonts/Darling.ttf);
}

@font-face {
    font-family: Marnoc;
    src: url(/public/Media/Fonts/Marnoc.ttf);
}

@font-face {
    font-family: Rain;
    src: url(/public/Media/Fonts/RainingInWhite.ttf);
}

@font-face {
    font-family: Rascal;
    src: url(/public/Media/Fonts/RASCAL__.TTF);
}

@font-face {
    font-family: Sunflower;
    src: url(/public/Media/Fonts/SUNFLOWE.TTF);
}

@font-face {
    font-family: Sweet;
    src: url(/public/Media/Fonts/Sweetgentle\ Free.otf);
}

@font-face {
    font-family: Romantic;
    src: url(/public/Media/Fonts/Romantic\ Couple.ttf);
}

@font-face {
    font-family: Auto;
    src: url(/public/Media/Fonts/Autography.otf);
}

@font-face {
    font-family: August;
    src: url(/public/Media/Fonts/August\ Script\ Bold\ Free.ttf);
}

@font-face {
    font-family: TomAndJerry;
    src: url(/public/Media/Fonts/TomAndJerry.ttf);
}


.albumName{
    font-size: 3.5rem;
    font-family: Romantic;
    color: silver;
}

.albumCover{
    border: 5px groove lightskyblue;
    filter: drop-shadow(0 0 0.75rem whitesmoke);

}

/* .bgColor{
        background-color: #330092;

} */