@font-face {
    font-family: AG5;
    src: url(/public/Media/Fonts/AG5.ttf);
}

@font-face {
    font-family: icons;
    src: url(/public/Media/Fonts/IconQuadPix.ttf);
}

@font-face {
    font-family: darling;
    src: url(/public/Media/Fonts/Darling.ttf);
}

@font-face {
    font-family: Marnoc;
    src: url(/public/Media/Fonts/Marnoc.ttf);
}

@font-face {
    font-family: Rain;
    src: url(/public/Media/Fonts/RainingInWhite.ttf);
}

@font-face {
    font-family: Rascal;
    src: url(/public/Media/Fonts/RASCAL__.TTF);
}

@font-face {
    font-family: Sunflower;
    src: url(/public/Media/Fonts/SUNFLOWE.TTF);
}

@font-face {
    font-family: Sweet;
    src: url(/public/Media/Fonts/Sweetgentle\ Free.otf);
}

@font-face {
    font-family: Romantic;
    src: url(/public/Media/Fonts/Romantic\ Couple.ttf);
}

@font-face {
    font-family: Auto;
    src: url(/public/Media/Fonts/Autography.otf);
}

@font-face {
    font-family: August;
    src: url(/public/Media/Fonts/August\ Script\ Bold\ Free.ttf);
}

@font-face {
    font-family: TomAndJerry;
    src: url(/public/Media/Fonts/TomAndJerry.ttf);
}


.albumName {
    font-size: 3.5rem;
    font-family: Romantic;
    color: silver;
    /* margin: auto; */
    text-align: center;
}

.albumCover {
    border: 5px groove lightskyblue;
    filter: drop-shadow(0 0 0.5rem whitesmoke);

    /* filter: drop-shadow(0 0 0.75rem rgb(8, 0, 97)); */
}

.flexWrap {
    margin: auto;
    width: 32ch;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex: 1;
    padding: 1ch;
}

.bgColor {
    width: fit-content;
    margin: 70px auto auto auto;
}

.songsFlex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    gap: 5px;
    /* margin: 1ch; */
    height: 100px;
    color: aliceblue;
    white-space: nowrap;
    /* background-color: aqua; */
    padding: 5px;
    flex-wrap: nowrap;
    /* overflow-y: scroll; */
    width: fit-content;
}

.artist-link {
    background: none;
    border: none;
    margin-bottom: 2ch;
}

.albumCover:hover {
    filter: drop-shadow(0 0 0.75rem whitesmoke);
}