.artist-list-container {
    display: block;
    width: 100%;
}

h1 {
    margin: auto;
    text-align: center;
    color: whitesmoke;
    margin-bottom: 1.5ch;
}

.artist-list-title {
    margin: auto;
    text-align: center;
    color: darkred;
    margin: 1.5ch auto 1.5ch auto;
    background-image: url("./Images/terracotta.jpeg");
    width: fit-content;
    border: 2px solid darkred;
    border-radius: 45%;
    padding: .75ch 2ch;
}

.button-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5ch;
    margin-top: 6ch;
}

.artistListButton {
    padding: .75ch 1.5ch;
    font-size: 1.75rem;
    font-weight: bold;
    background-image: url("./Images/terracotta.jpeg");
    color: whitesmoke;
    -webkit-text-stroke: 1px rgb(0, 14, 139);
    border: 2px outset darkred;
    white-space: nowrap;
}

.artistListButton:hover {
    border-style: inset;
    filter: brightness(90%);
}