.artist-list-container {
    display: block;
    /* display: grid;
    grid-template-columns: fr fr fr fr;
    grid-template-rows: auto; */

}

h1 {
    margin: auto;
    text-align: center;
    color: whitesmoke;
    margin-bottom: 1.5ch;
}

.artistList {
    margin: auto;
    text-align: center;
    color: darkred;
    margin: 1.5ch auto 1.5ch auto;
    background-image: url("./Images/terracotta.jpeg");
    width: fit-content;
    border: 2px solid darkred;
    border-radius: 45%;
    padding: .5ch;
}

.button-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5ch;
}

.artistListButton {
    /* background-color: whitesmoke; */
    background-image: url("./Images/terracotta.jpeg");
    color: whitesmoke;
    border: 2px solid darkred;
}