.artist-container {
    color: white;
    width: 100%;
}

.artistImage-container {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.artistImage {
    width: 100%;
    height: 100%;
    opacity: 30%;
}

.artistName-container {
    position: relative;
    text-align: center;
}

.artistNameImage {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 375px;
    height: 200px;
}

.artistName-container h2 {
    position: absolute;
    /* margin: 200px auto 0px -5px; */
    color: black;
    font-style: italic;
    text-align: center;
    font-family: darling;
    font-size: 3rem;
    /* background-color: purple; */
    /* border: 2px double gray; */
    padding: .1ch;
    width: 300px;
    /* letter-spacing: 0.5ch; */
    /* background-image: ('./Images/burlap.png'); */
    top: -40px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.discography-container {
    margin-top: 7ch;
}

.artistBio-container {
    position: absolute;
    right: 0;
    height: 80%;
    width: 20%;
    margin-top: 5px;
}

.biography-title {
    background-image: url("./Images/wood2.png");
    background-size: 100% 50%;
    background-position: center;
    width: 100%;
    height: 80px;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
}


.discography-title {
    background-image: url("./Images/artistBg2.png");
    background-size: 100% 100%;
    background-position: center;
    height: 80px;
    width: fit-content;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin-bottom: 40px;
}

.biography-title>svg {
    color: black;
    white-space: nowrap;
    width: 100%;
    font-family: Trattatello, fantasy;
}

.artistBio {
    background-color: #606383;
    /* background-blend-mode: hard-light; */
    border: 2px double gray;
    margin-top: 0;
    box-shadow: 10px 10px 10px black;
    padding: 1ch;
    overflow: scroll;
    font-size: 0.7rem;
    font-style: oblique;
    line-height: 1.5em;
    /* float: right; */
    height: 80%;
    color: black;
    background-image: url('./Images/marble1.png');
    background-size: 25%;
}


@font-face {
    font-family: Rascal;
    src: url(/public/Media/Fonts/RASCAL__.TTF);
}


@font-face {
    font-family: darling;
    src: url(/public/Media/Fonts/Darling.ttf);
}


@font-face {
    font-family: Marnoc;
    src: url(/public/Media/Fonts/Marnoc.ttf);
}