header {
    -webkit-user-select: none;
    user-select: none;
    -webkit-app-region: drag;
    font-family: TomAndJerry;
    font-size: 1.75rem;
    color: rgb(67, 37, 0);
    background-image: url("./Images/wood2.png");
    border-bottom: 3px rgb(27, 27, 190) solid;
    text-align: left;
    padding: 2rem;
    -webkit-text-stroke: .75px whitesmoke;
    flex: 0 1 auto;
}

.flex {
    display: flex;
    gap: 1rem;
}

.blueDish {
    margin-left: 1ch;
}

.soothingMusic {
    position: relative;
    top: -.5ch;
    right: -.5ch;
}

.bdsm {
    color: darkred;
}