header{

    font-family: TomAndJerry;
    font-size: 2rem;
    color: gainsboro;
    background-image: url("./Images/wood1.png");
    border-bottom: 5px blue solids ;
}

.flex{
    display: flex;
}


