.flexbox {
    display: flex;
}

.trackInfo {
    flex-direction: column;
    justify-content: center;
}
 

/* play button */
audio::-webkit-media-controls-play-button {
    /* background-image: url("/Users/elie/Documents/GitHub/PCoTandy/EV1/assets/2.jpeg"); */
    color: aquamarine;
    filter: invert(42%) sepia(93%) saturate(1500%) hue-rotate(150deg) brightness(60%) contrast(119%);
}

footer {
    flex: 0 1 40px;
    background-image: url(./Images/player.gif);
    /* background-size: 10px; */
    display: flex;
    justify-content: center;
    border-top: 2px ridge rgb(131, 131, 131);
    padding: 10px 20px 0px 20px;
    color: white;
    font-weight: bold;
  }

.player-left,.player-center, .player-right {
    display: flex;
    flex: 1;
    align-items: center;
}

.player-center {
    justify-content: center;
}
.player-left {
    justify-content: flex-start;
}

.player-left img {
    margin: auto;
}
.player-center {
    justify-content: flex-end;
    flex-direction: column;
}

.player-controls {

}

audio::-webkit-media-controls-mute-button,

audio::-webkit-media-controls-play-button{
    display: none;
}