footer .flexbox {
    display: flex;
}

.trackInfo {
    flex-direction: column;
    justify-content: center;
    padding: 0px 10px;
    font-size: 1.1rem;
    white-space: nowrap;
}

.trackInfo button {
    background: none;
    border: none;
    font-size: 1.1rem;
    color: white;
    font-weight: bold;
    text-align: left;
    padding: 0;
}

.trackInfo button:hover {
    text-decoration: underline;
}

audio {
    height: 35px;
    width: 50vw;
    margin-top: 5px;
    border-radius: 40%;
    border: 3px ridge rgb(109, 75, 31);
}

audio::-webkit-media-controls-panel {
    background-color: rgb(13, 0, 87);
    background-image: url(./Images/wood2.png);
    color: white;
    padding: 0px 50px;
}

footer {
    flex: 0 1 40px;
    background-image: url(./Images/player.gif);
    display: flex;
    justify-content: center;
    border-top: 2px ridge rgb(131, 131, 131);
    padding: 10px 0px 10px 0px;
    color: white;
    font-weight: bold;
}

.player-left,
.player-center,
.player-right {
    display: flex;
    flex: 1;
    align-items: center;
}

.player-center {
    justify-content: center;
}

.player-controls {
    display: grid;
    grid-template-columns: 50px 150px 50px;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}

.player-controls>* {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.player-left .music-preview {
    background-color: rgba(1, 32, 59, 0.185);
    padding: 10px;
    border-radius: 10px;
}

.player-center {
    justify-content: flex-end;
    flex-direction: column;
}

.player-controls button:hover {
    transform: scale(.95);
}

.player-controls button {
    background: none;
    border: none;
    color: white;
    font-size: 1.3em;
}

.player-controls {
    margin-bottom: 5px;
}

audio::-webkit-media-controls-play-button {
    display: none;
}

.player-controls .button-disabled {
    /* pointer-events: none; */
    /* filter: brightness(50%); */
    color: rgb(161, 161, 161);
    cursor: not-allowed;
}

.player-controls .button-disabled:hover {
    transform: none;
}