.wrapper {
    /* border: 3px #000000 ridge; */
    position: -webkit-sticky;
    position: sticky;
    bottom: 12px;
}


/* play button */
audio::-webkit-media-controls-play-button {
    /* background-image: url("/Users/elie/Documents/GitHub/PCoTandy/EV1/assets/2.jpeg"); */
    color: aquamarine;
    filter: invert(42%) sepia(93%) saturate(1500%) hue-rotate(150deg) brightness(60%) contrast(119%);
}